.less.active .button-read-more, .button-read-less {
	display: none;
	margin-left: 120px;
}

.less.active .button-read-less {
	display: block;
}

.more {
	margin-top: 10px;
}

.more p {
	margin: 0;
	padding: 0;
}
