<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Planning</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="/fonts/Rh-icon.gif">
<!-- Main CSS-->
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
<!-- Font-icon css-->
<link rel="stylesheet" type="text/css"
	th:href="@{/css/font-awesome.min.css}">
<!-- 	button more and Chat -->
<script type="text/javascript" th:src="@{/js/more.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/more.css}">
<link rel="stylesheet" type="text/css" href="cssallpha/chatallpha.css">
</head>
<body class="app sidebar-mini rtl">

	<!--  form planning -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">
						<i class="fa fa-pencil"></i> New Activity
					</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form th:action="@{/newplanning}" method="post"
						th:object="${planningEnter}" enctype="multipart/form-data">

						<div class="row mb-4">
							<div class="col-md-4">
								<label>Started Time</label> <input th:field="*{timeb}"
									class="form-control" type="time" required="required">
							</div>
							<div class="col-md-4">
								<label>End Time</label> <input th:field="*{timee}"
									class="form-control" type="time" required="required">
							</div>
						</div>
						<div class="form-group">
							<label for="message-text" class="col-form-label"> Day:</label> <br>
							<select class="form-control" th:field="*{day}"
								required="required">
								<optgroup>
									<option th:value="Monday">Monday</option>
									<option th:value="Tuesday">Tuesday</option>
									<option th:value="Wednesday">Wednesday</option>
									<option th:value="Thursday">Thursday</option>
									<option th:value="Friday">Friday</option>
									<option th:value="Saturday">Saturday</option>
									<option th:value="Sunday">Sunday</option>
								</optgroup>
							</select>
						</div>
						<div class="form-group">
							<label for="message-text" class="col-form-label">
								Activity:</label>
							<textarea style="font-family: sans-serif; font-size: 12px;"
								placeholder="Write your Activity" th:field="*{activity}"
								class="form-control" required="required"></textarea>
							<input type="number" th:value="${user.idaccount}" name="owner"
								hidden="">
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-primary ml-4">Submit</button>
							&nbsp; &nbsp; &nbsp;
							<button type="reset" class="btn btn-danger mr-4">Cancel</button>
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>
	<!--  /form planning -->

	<!-- Navbar-->
	<header class="app-header">
		<a class="app-header__logo"><i class="fa fa rounded"> <img
				src="/fonts/Rh-icon.gif" style="width: 40px; height: 30px;"></i>RiseHope</a>
		<!-- Sidebar toggle button-->
		<a class="app-sidebar__toggle mr-4" href="#" data-toggle="sidebar"
			translate="" aria-label="Hide Sidebar"></a> <a
			class="ml-4 mt-3 text-capitalize"
			th:href="@{/selfpage/{page}(page=${user.idaccount})}"> <i
			class="fa fa-user text-white"></i> <b class="text-white"
			th:text="${user.cname}"></b> <b class="text-white"
			th:if="${user.cname} == null"> <b class="text-white"
				th:text="${user.plastname}"></b>
		</b>
		</a>
		<!-- Navbar Right Menu-->
		<ul class="app-nav">
			<!-- Home menu -->
			<li><a class="app-nav__item mr-4" th:href="@{/home}"
				style="text-decoration: none;"> <i class="fa fa-home fa-1x"></i>
					Home
			</a></li>
			<!-- 				search bar -->
			<li class="app-search"><input class="app-search__input"
				type="search" placeholder="Search">
				<button class="app-search__button">
					<i class="fa fa-search"></i>
				</button></li>
			<!--Notification Menu-->
			<li class="dropdown"><a class="app-nav__item" href="#"
				data-toggle="dropdown" aria-label="Show notifications"><i
					class="fa fa-bell"></i></a>
				<ul class="app-notification dropdown-menu dropdown-menu-right">
					<li class="app-notification__title">You have 4 new
						notifications.</li>
					<div class="app-notification__content">
						<li><a class="app-notification__item" href="javascript:;"><span
								class="app-notification__icon"><span
									class="fa-stack fa-lg"><i
										class="fa fa-circle fa-stack-2x text-primary"></i><i
										class="fa fa-envelope fa-stack-1x fa-inverse"></i></span></span>
								<div>
									<p class="app-notification__message">Lisa sent you a mail</p>
									<p class="app-notification__meta">2 min ago</p>
								</div></a></li>
						<li><a class="app-notification__item" href="javascript:;"><span
								class="app-notification__icon"><span
									class="fa-stack fa-lg"><i
										class="fa fa-circle fa-stack-2x text-danger"></i><i
										class="fa fa-hdd-o fa-stack-1x fa-inverse"></i></span></span>
								<div>
									<p class="app-notification__message">Mail server not
										working</p>
									<p class="app-notification__meta">5 min ago</p>
								</div></a></li>
						<li><a class="app-notification__item" href="javascript:;"><span
								class="app-notification__icon"><span
									class="fa-stack fa-lg"><i
										class="fa fa-circle fa-stack-2x text-success"></i><i
										class="fa fa-money fa-stack-1x fa-inverse"></i></span></span>
								<div>
									<p class="app-notification__message">Transaction complete</p>
									<p class="app-notification__meta">2 days ago</p>
								</div></a></li>
						<div class="app-notification__content">
							<li><a class="app-notification__item" href="javascript:;"><span
									class="app-notification__icon"><span
										class="fa-stack fa-lg"><i
											class="fa fa-circle fa-stack-2x text-primary"></i><i
											class="fa fa-envelope fa-stack-1x fa-inverse"></i></span></span>
									<div>
										<p class="app-notification__message">Lisa sent you a mail</p>
										<p class="app-notification__meta">2 min ago</p>
									</div></a></li>
							<li><a class="app-notification__item" href="javascript:;"><span
									class="app-notification__icon"><span
										class="fa-stack fa-lg"><i
											class="fa fa-circle fa-stack-2x text-danger"></i><i
											class="fa fa-hdd-o fa-stack-1x fa-inverse"></i></span></span>
									<div>
										<p class="app-notification__message">Mail server not
											working</p>
										<p class="app-notification__meta">5 min ago</p>
									</div></a></li>
							<li><a class="app-notification__item" href="javascript:;"><span
									class="app-notification__icon"><span
										class="fa-stack fa-lg"><i
											class="fa fa-circle fa-stack-2x text-success"></i><i
											class="fa fa-money fa-stack-1x fa-inverse"></i></span></span>
									<div>
										<p class="app-notification__message">Transaction complete</p>
										<p class="app-notification__meta">2 days ago</p>
									</div></a></li>
						</div>
					</div>
					<li class="app-notification__footer"><a href="#">See all
							notifications.</a></li>
				</ul></li>
			<!-- User Menu-->
			<li class="dropdown"><a class="app-nav__item" href="#"
				data-toggle="dropdown" aria-label="Open Profile Menu"><i
					class="fa fa-chevron-circle-down"></i></a>
				<ul class="dropdown-menu settings-menu dropdown-menu-right">
					<li><a class="dropdown-item" href="page-user.html"><i
							class="fa fa-cog"></i> Settings</a></li>
					<li><a class="dropdown-item" th:href="@{/updateaccount}"><i
							class="fa fa-user"></i> Profile</a></li>
					<li><a class="dropdown-item"
						th:href="@{/authentification?logout}"><i
							class="fa fa-power-off"></i> Disconnect</a></li>
				</ul></li>
		</ul>
	</header>
	<!-- Sidebar menu-->
	<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
	<aside class="app-sidebar">
		<div class="app-sidebar__user">
			<a th:href="@{/selfpage/{page}(page=${user.idaccount})}"> <i
				th:if="${user.photo} == null"> <img
					style="border: 4px solid #fff;" th:src="@{/fonts/manProfile.jpg}"
					class="app-sidebar__user-avatar" width="40px" height="40px"
					id="img" /></i> <i th:if="${user.photo} != null"> <img
					style="border: 2px solid #fff;" class="app-sidebar__user-avatar"
					width="40px" height="40px"
					th:src="@{'/profileImages/'+${user.idaccount}}" />
			</i>
			</a>
			<p class="app-sidebar__user-designation" th:text="${user.status}"></p>
		</div>
		<ul class="app-menu" style="font-family: sans-serif;">
			<li th:if="${user.status} == ORPHANAGE" class="treeview"><a
				class="app-menu__item" th:href="@{/addArticle}"> <i
					class="app-menu__icon fa fa-edit"></i><span class="app-menu__label">Publish
						Article</span>
			</a></li>
			<li class="treeview" th:if="${user.status} == ORPHANAGE"><a
				class="app-menu__item" th:href="@{/askforhelp}"> <i
					class="app-menu__icon fa fa-hand-paper-o"></i> <span
					class="app-menu__label">Ask For Help</span>
			</a></li>
			<li class="treeview" hidden="" th:if="${user.status} == ORPHANAGE"><a
				class="app-menu__item" href="m	essage"> <i
					class="app-menu__icon fa fa-money"></i> <span
					class="app-menu__label">Participation Payment</span>
			</a></li>
			<li class="treeview is-expanded" th:if="${user.status} == ORPHANAGE"><a
				class="app-menu__item" th:href="@{/sponsor.html}"> <i
					class="app-menu__icon fa fa-search"></i> <span
					class="app-menu__label">Sponsors</span></a></li>
			<li class="treeview is-expanded" th:if="${user.status} == ORPHANAGE"><a
				class="app-menu__item" th:href="@{/adoptions}"> <i
					class="app-menu__icon fa fa-odnoklassniki"></i> <span
					class="app-menu__label">Suggested Adoption</span></a></li>
			<li class="treeview bg-dark" th:if="${user.status} == ORPHANAGE"><a
				class="app-menu__item" th:href="@{/planning.html}"> <i
					class="app-menu__icon fa fa-calendar"></i><span
					class="app-menu__label">Create Planning</span><i
					class=" fa fa-chevron-right"></i>
			</a></li>
			<li th:if="${user.status} == ORPHANAGE"><a
				class="app-menu__item" th:href="@{/childrenlist.html}"> <i
					class="app-menu__icon fa fa-user-plus"></i> <span
					class="app-menu__label">Add Children</span>
			</a></li>
			<li class="treeview" th:if="${user.status} == ORPHANAGE"><a
				class="app-menu__item" th:href="@{/necessity}"> <i
					class="app-menu__icon fa fa-cart-plus"></i><span
					class="app-menu__label">Mains Necessities</span>
			</a></li>
			<li class="treeview" th:if="${user.status} == SPONSOR"><a
				class="app-menu__item" th:href="@{/orphanageList}"> <i
					class="app-menu__icon fa fa-home fa-1x"></i><span
					class="app-menu__label">Locate Orphanages</span></a></li>
			<li th:if="${user.status} == SPONSOR"><a class="app-menu__item"
				th:href="@{#}" data-toggle="modal" data-target="#opportunityModal"
				data-whatever="@getbootstrap"> <i
					class="app-menu__icon fa fa-television"></i> <span
					class="app-menu__label">Promote An Opportunity</span>
			</a></li>
			<li th:if="${user.status} == SPONSOR"><a class="app-menu__item"
				th:href="@{askedhelp}"> <i class="app-menu__icon fa fa-gift"></i>
					<span class="app-menu__label">Asked Helps</span>
			</a></li>
			<li class="treeview"><a class="app-menu__item"
				th:href="@{/suggestion}"><i
					class="app-menu__icon fa fa-question"></i><span
					class="app-menu__label">Suggestions </span></a></li>
		</ul>
	</aside>
	<main class="app-content">
	<div class="app-title">
		<h6 data-toggle="tooltip" data-placement="top" title="Add a New Child">
			<a data-toggle="modal" data-target="#exampleModal"
				data-whatever="@getbootstrap" type="button"> <span
				class="fa-stack fa-lg"> <i
					class="fa fa-circle fa-stack-2x text-primary"></i> <i
					class="fa fa-edit fa-stack-1x fa-inverse"></i>
			</span>
			</a>
		</h6>
		<ul class="app-breadcrumb breadcrumb">
			<li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
			<li class="breadcrumb-item active"><a>Planning</a></li>
		</ul>
	</div>

	<div class="row">
		<div class="col-lg-3 mb-1" th:each="planning: ${plannings}">
			<div class="bs-component">
				<ul class="list-group">
					<li class="list-group-item bg-light" style="font-weight: bold;"
						th:text="${planning.day}"></li>
					<li class="list-group-item"
						th:text="${planning.timeb}+' to '+${planning.timee}"></li>
					<li class="list-group-item" th:text="${planning.activity}"></li>
					<li class="list-group-item btn btn-danger"><a
						style="text-decoration: none;"
						th:href="@{/deleteplanningactivity/{idactivity} (idactivity=${planning.idplanning})}">Delete</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	</main>
	<!-- Essential javascripts for application to work-->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/main.js"></script>
	<!-- The javascript plugin to display page loading on top-->
	<script src="js/plugins/pace.min.js"></script>
	<script type="text/javascript" src="js/plugins/select2.min.js"></script>
	<script type="text/javascript"
		src="js/plugins/bootstrap-datepicker.min.js"></script>
	<script type="text/javascript">
		$('#sl').click(function() {
			$('#tl').loadingBtn();
			$('#tb').loadingBtn({
				text : "Signing In"
			});
		});

		$('#el').click(function() {
			$('#tl').loadingBtnComplete();
			$('#tb').loadingBtnComplete({
				html : "Sign In"
			});
		});

		$('#demoDate').datepicker({
			format : "dd/mm/yyyy",
			autoclose : true,
			todayHighlight : true
		});

		$('#demoSelect').select2();
	</script>
	<!-- Page specific javascripts-->
	<!-- Google analytics script-->
	<script type="text/javascript">
		if (document.location.hostname == 'pratikborsadiya.in') {
			(function(i, s, o, g, r, a, m) {
				i['GoogleAnalyticsObject'] = r;
				i[r] = i[r] || function() {
					(i[r].q = i[r].q || []).push(arguments)
				}, i[r].l = 1 * new Date();
				a = s.createElement(o), m = s.getElementsByTagName(o)[0];
				a.async = 1;
				a.src = g;
				m.parentNode.insertBefore(a, m)
			})(window, document, 'script',
					'//www.google-analytics.com/analytics.js', 'ga');
			ga('create', 'UA-72504830-1', 'auto');
			ga('send', 'pageview');
		}
	</script>
</body>
</html>